header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  padding: 10px;
}
nav img {
  height: 13px;
}
body {
  font-family: "Manrope", sans-serif;
  margin: 0px;
}
#startpic {
  width: 100%;
}
#sec1 {
  position: relative;
}
#art1 {
  position: absolute;
  top: 50%;
  left: 5%;
  color: white;
}